.quote-wrapper {
  margin: auto;
  text-align: center;
  max-width: 375px;
}

.title-input-wrapper {
  display: inline;
  text-align: center;
  margin: 30px;
}

/* do I need flexbox rules for ul or its child li's? */

.created-list {
  text-align: center;
}

.quoteButton,
.listButton {
  display: block;
}
